@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Libre+Baskerville:wght@400;700&family=Plus+Jakarta+Sans:wght@400;500;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-color: #FEFAE0;
    --light-rose: #FBE5CB;
    --dark-rose: #FCDAC8;
    --light-brown: #F1BF8E;
    --coral: #d90429;
}

.baskerville {
    font-family: 'Libre Baskerville',
    serif;
}

.inter {
    font-family: 'Inter',
    sans-serif;
}

.jakarta {
    font-family: 'Plus Jakarta Sans',
    sans-serif;
}

.gradient  {
    background: -webkit-linear-gradient(25deg,
    #d64c7f,
    #ee4758 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-bg {
    background: -webkit-linear-gradient(25deg,
            #d64c7f,
            #ee4758 50%);
    
}

.minWidth {
    width: 25px;
    height: 25px;
}

.swiper-button-next {
    color: red;
}

.width {
    width: auto;
    height: 375px;
}





@media screen and (min-width:500px) {
    .height {
        height: 250px;
        width:auto;
    }
}